@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  box-sizing: border-box;
  margin: auto;
}


#root {
  width: 70vw;
  height: 100vh;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: black;
}
