@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
}
html,
body,
#root {
  margin: auto;

}


#root {
  background-color: #fff;
}

body{
}

a {
  text-decoration: none;
  color: black;
}

